.buttons{
    background-color: #ef4c2f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}